{% load crispy_forms_tags %}
{% load hosts %}

<div class="admin-navbar p-3 two-column hidden"> <!-- .hidden by default when out of debug -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>🐛 Debug Dashboard</h1>
                <p class="mb-5">This is the dashboard that will show all of the actions that are <br>currently being tested, or are needed for testing.</p>
            </div>

            <div class="col-md-12">
                <h3>👶 Apps Live</h3>
                <br>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>🏗️ Mo' Problems</strong></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-secondary pull-right" href="{% url 'home' host 'www' %}?ref=admin_navbar">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>🌦️ Treather</strong></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-secondary" href="{% url 'home' host 'tripweather' %}?ref=admin_navbar">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>🍔 Munch</strong></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-secondary" href="{% url 'home' host 'lunchmunch' %}?ref=admin_navbar">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>🎉 Birthdate</strong></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a class="btn btn-secondary" href="{% url 'home' host 'birthdate' %}?ref=admin_navbar">Visit</a>
                    </div>
                </div>
            </div>
        </div>

        <!--
        {% if request.user.is_authenticated %}
            <div class="row mt-5" id="notes">
                <div class="col-md-6">
                    <h3>✏️ Active Notes</h3>
                    <br>
                </div>
                <div class="col-md-6"></div>

                <div class="col-md-4 new_note_form">
                    <div class="new-note-form-container">
                        {{ request.blank_note_form.author|as_crispy_field }}
                        {{ request.blank_note_form.message|as_crispy_field }}
                        <button type="new_parent_note_button"><strong>👉</strong></button>
                    </div>
                </div>

                {% if request.admin_notes.count != 0 %}
                    <span class="notes-prepend"></span>
                    {% for note in request.admin_notes  %}
                        <div class="col-md-4 note" note_id="{{ note.id }}">
                            <div class="content">
                                <textarea note_id="{{ note.id }}" name="message" cols="40" rows="10" value="{{ note.message }}" class="textarea form-control" id="id_message" link="{{ note.edit_note_url }}">{{ note.message }}</textarea>

                                <div class="action-container">
                                    <a class="info-link" note_id="{{ note.id }}"><span class="info-note">🤔</span></a>  
                                    <a class="reply-link" note_id="{{ note.id }}"><span class="info-reply">💬</span></a>  
                                </div>

                                <a link="{{ note.resolve_note_url }}" class="resolve-note-link" note_id="{{ note.id }}"><span class="delete-note">👌</span></a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 hidden note new_note_form" parent_id="{{ note.id }}" note_id="{{ note.id }}">
                            <div class="new-note-form-container">
                                <form method="POST" id="new_note_form" parent_id="{{ note.id }}" note_id="{{ note.id }}"> 
                                    {% csrf_token %}
                                    {{ request.blank_note_form.author|as_crispy_field }}
                                    {{ request.blank_note_form.message|as_crispy_field }}
                                    <button type="submit"><strong>👉</strong></button>
                                </form>
                            </div>
                        </div>

                        {% for child in note.children.all  %}
                            <div class="col-md-4 note child" note_id="{{ child.id }}" parent_id="{{ note.id }}">
                                <div class="content">
                                    <input type="hidden" class="note_parent_id" note_id="{{ child.id }}">
                                    <textarea note_id="{{ child.id }}" name="message" cols="40" rows="10" value="{{ child.message }}" class="textarea form-control" id="id_message" link="{{ child.edit_note_url }}">{{ child.message }}</textarea>

                                    <div class="action-container">
                                        <a class="info-link" note_id="{{ note.id }}"><span class="info-note">🤔</span></a>  
                                    </div>

                                    <a link="{{ child.resolve_note_url }}" class="resolve-note-link" note_id="{{ child.id }}"><span class="delete-note">👌</span></a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}                
            </div>
        {% endif %} -->

        <div class="row mt-5">  
            <div class="col-md-6">
                <h3>👱 User Access</h3>
                <br>
            </div>
            <div class="col-md-6 text-right">
                {% if request.user.is_authenticated %}
                    {% if not request.user_has_profile_for_solution %}
                        <a class="btn btn-info" href="{% host_url 'join_child_app' child_app_label=request.current_host host 'www' %}">🤝 Join Community</a>
                    {% else %}
                        <a class="btn btn-info" href="{{ request.profile.get_settings_url }}">🛠️ Settings</a>
                        <a class="btn btn-danger" href="{% url 'logout_view' host 'www' %}">👋 Logout</a>                
                    {% endif %}
                {% else %}
                    <a class="btn btn-info" href="{% url 'login_view' host 'www' %}?ref_app={{ request.current_host }}">🔑 Login</a>
                    <a class="btn btn-success" href="{% url 'signup_view' host 'www' %}?ref_app={{ request.current_host }}">🤸‍ Sign Up</a>
                {% endif %}
                <br>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <p><strong>Has Profile:</strong> <span class="float-right">{{ request.user_has_profile_for_solution }}</span></p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Authenticated:</strong> <span class="float-right">{{ request.user.is_authenticated }}</span></p>
                    </div>
                    <div class="col-md-3">
                        <p><strong>Has Password:</strong> <span class="float-right">{{ request.user.has_usable_password }}</span></p>
                    </div>

                    {% if request.user.is_authenticated %}
                        {% for field_dict in request.request_user_field_data %}                         {% for field, value in field_dict.fields.items %}
                                {% if not field == "password" %}
                                    <div class="col-md-3">
                                        <p><strong>{{ field }}:</strong> <span class="float-right">{{ value }}</span></p>
                                    </div>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-12 mt-5">
                        <h3>👪 User Profiles</h3>
                        <br>
                        <div class="row">
                            {% if request.user_profiles.count != 0 %}
                                {% for profile in request.user_profiles  %}
                                    <div class="col-md-3">
                                        <p><strong>Host:</strong> <span class="float-right"><a href="{{ profile.get_settings_url }}">{{ profile.host }}</a></span></p>

                                        <p><strong>Added To Mailchimp:</strong><span class="float-right"> {{ profile.added_to_mailchimp }}</span></p>
                                    </div>
                                {% endfor %}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.is_admin %}
                <div class="col-md-4">
                    <h3>🎏 Recent Events</h3>
                    {% for event in recent_events  %}
                        <a href="{{ event.get_absolute_url }}">{{ event.host }} | {{ event.user }}<br>{{ event.tag }} | {{ event.created_at }}</a>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <h3>💰 Recent Contacts</h3>
                    {% for contact in recent_contacts  %}
                        <a href="{{ contact.get_absolute_url }}"><strong>{{ contact.email }}</strong><br>{{ contact.message }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>