{% extends 'herriageio/page_template.html' %}
{% load hosts %}

{% block app_base %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">

                <br>

                <a class="btn btn-secondary" href="http://www.localhost:8000">🏗️ Mo' Problems</a>
                <a class="btn btn-secondary" href="http://lunchmunch.localhost:8000">🌦️ TripWeather</a>
                <a class="btn btn-secondary" href="http://lunchmunch.localhost:8000">🍔 Munch</a>
                <a class="btn btn-secondary" href="http://lunchmunch.localhost:8000">🎉 Birthdate</a>        
            </div>
        </div>
    </div>
{% endblock app_base %}