{% extends "herriageio/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load hosts %}

{% block body %}
	<div class="container mt-5">
		<div class="row mt-5">
			<div class="col-md-12 about-centered">
				<div class="centered-content">
					<h1>{{ heading }}</h1>
					<p>{{ heading_sub_p }}</p>

					<div class="row mt-5">
						<div class="col-md-4">
							<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-secondary btn-block"><i class="fab fa-facebook-f"></i> Log In With Facebook</a>
						</div>
						<div class="col-md-4">
							<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-secondary btn-block"><i class="fab fa-twitter"></i> Log In With Twitter</a>
						</div>
						<div class="col-md-4">
							<a href="{% url 'social:begin' 'github' %}" class="btn btn-secondary btn-block"><i class="fab fa-github"></i> Log In With GitHub</a>
						</div>
						<div class="col-md-12" style="margin-top: 20px;">
							<form method="POST" action="{% url 'login_view' host 'www' %}{% if ref_app %}?ref_app={{ ref_app }}{% endif %}" enctype="multipart/form-data">
								{% csrf_token %}
								{% render_field form.username class="form-control" placeholder="Username..." %}	
						        {% for error in form.username.errors %}
						        	<small style="color: red">{{ error }}</small>
						        {% endfor %}	
								{% render_field form.password class="form-control" placeholder="Password..." %}
						        {% for error in form.password.errors %}
						        	<small style="color: red">{{ error }}</small>
						        {% endfor %}	
								<br>
								<button class="btn btn-primary btn-block" type="submit">Log In</button>
							</form>
							<p style="margin-top: 10px; font-size: 14px;">Don't have an account? <a href="{% url 'signup_view' host 'www' %}{% if ref_app %}?ref_app={{ ref_app }}{% endif %}">Sign up</a> now.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}