{% extends 'herriageio/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 mb-3">
                <h2>Authentication</h2>
                <p>You can connect your social accounts so that you can log in quicker and earn more points while using our solutions!</p>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        {% if facebook_login %}
                            <!-- <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p> -->
                            {% if can_disconnect %}
                            <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Disconnect from Facebook</button>
                            </form>
                            {% else %}
                            <button type="button" disabled class="btn btn-facebook btn-block">Disconnect from Facebook</button>
                            <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-block">Connect to Facebook</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if twitter_login %}
                            <!-- <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p> -->
                            {% if can_disconnect %}
                            <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Disconnect from Twitter</button>
                            </form>
                            {% else %}
                            <button type="button" disabled class="btn btn-twitter btn-block">Disconnect from Twitter</button>
                            <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Twitter.</p>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-twitter btn-block">Connect to Twitter</a>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        {% if google_login %}
                            <!-- <p>Connected as <a href="https://google.com/{{ google_login.extra_data.login }}/" target="_blank">{{ google_login.extra_data.login }}</a></p> -->
                            {% if can_disconnect %}
                            <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-block">Disconnect from Google</button>
                            </form>
                            {% else %}
                            <button type="button" disabled class="btn btn-google btn-block">Disconnect from Google</button>
                            <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Google.</p>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-block">Connect to Google</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if request.user.is_authenticated and request.user.is_superuser %}
                <div class="col-md-12">
                    <div class="row">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="col-md-6 mt-5 mb-3">
                                <h2>Profile Settings</h2>
                                <p>Update the values of your profile settings for {{ profile }}.</p>
                            </div>

                            <div class="col-md-12">
                                {% if profile_form %}
                                    {% for field in profile_form  %}
                                        {{ field|as_crispy_field }}
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn btn-primary btn-block">Save Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
{% endblock body %}