body {
    background-color: #F68F48;
}

.launchpad {
    font-family: 'Averia Serif Libre', cursive;
    text-shadow: 0px 3px 3px rgba(#000000, .15);
    margin-top: -3px;

    .hero {
        background-color: #F68F48;
        background-image: url('../images/launchpad_background.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100vw;
        color: white !important;
        display: grid;
        padding-top: 150px;
        margin-top: -60px;
        padding-left: 0px;
        padding-right: 0px;

        .row {
            margin: auto;

            h1 {
                max-width: 100%;
                margin-bottom: 20px;
            }

            p {
                color: rgba(white, .65);
            }

            p.lead {
                margin-bottom: 80px;
                color: #FFF;
                font-size: 18px;
            }


            input,
            button {
                border: none;
                height: 40px;
                border-radius: 4px;
                padding: 0 10px;
                box-shadow: 0px 3px 3px rgba(#000000, .15);
            }

            .btn-secondary {
                background: #CB834F;
            }

            form {
                padding-top: 50px;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    p.lead {
        max-width: 75%;
    }
}