{% extends "birthdate/base.html" %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h1>Founded For A Simple Reason. Continuing For Your Simple Reason.</h1>
				<p>Hey, I am Chance Herriage. A serial-builder that builds the quick and necessary solutions to our every day problems. I am always keeping track of small issues that need some fixing so get in contact if you have a crazy idea, but don’t know how to develop it.</p>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
{% endblock body %}