$black: #3B3B3B;
$green: #46a877;
$white: #FFFFFF;

body {
    font-family: 'Josefin Sans',
        sans-serif !important;
    overflow-x: hidden;
}

p {
    font-weight: 300;
}

form {
    width: 100%;

    input {
        margin-bottom: 10px;
    }
}

.btn,
button {
    margin-bottom: 10px;
    font-size: 14px !important;
    font-weight: 400 !important;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 7px 36px;
    border: none;

    &.btn-green {
        color: $white;
        background: $green;
    }
}

#home-hero {
    height: calc(100vh - 190px);
    display: grid;
    grid-template-rows: 1fr;

    .content {
        margin: auto;
    }
}

.btn-facebook {
    background: #3B5998;
    color: $white;
}

.btn-twitter {
    background: #55ACEE;
    color: $white;
}

.btn-google {
    background: #dd4b39;
    color: $white;
}