{% extends 'herriageio/page_template.html' %}
{% load staticfiles %}

{% block app_base_header %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" data-emoji="🍔" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" href="{% static 'birthdate/css/style.css' %}">
{% endblock app_base_header %}

{% block app_base %}
        <div class="container-fluid">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <hr>
            <div class="two-column">
                <div>
                    <a href="{% url 'lunchmunch_home' %}">🍔 Munch</a>

                    {% if request.user.profile.has_group %}
                        <a href="{% url 'groups' %}">Groups</a>
                    {% endif %}
                </div>
                <div style="text-align: right;">
                    {% if request.user.is_authenticated %}
                        {% if request.user.profile.zipcode %}
                            <a href="#">
                                📍
                                {{ request.user.profile.zipcode }}</a>
                        {% endif %}
                        <a href="{% url 'account' %}">👱
                            {{ request.user.username }}</a>
                        <a href="{% url 'logout' %} ">Logout</a>
                    {% else %}
                        <a href="{% url 'signup' %} ">Sign Up</a>
                        <a href="{% url 'login' %} ">Login</a>
                    {% endif %}
                </div>
            </div>
            <hr>

            {% block body %}{% endblock %}
        </div>

        {% block app_scripts %}{% endblock app_scripts %}
    </body>
</html>
{% endblock app_base %}

{% block app_base_scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

	{% block app_page_scripts %}{% endblock app_page_scripts %}
{% endblock %}