{% extends 'herriageio/page_template.html' %}
{% load staticfiles %}
{% load hosts %}

{% block app_google_events %}
            gtag('set', {'content_group1': "Lunch o' Munch"}); 
{% endblock app_google_events %}

{% block app_base_header %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" data-emoji="🍔" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/pvu5szd.css">
    <link rel="stylesheet" href="{% static 'herriageio/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'lunchmunch/css/style.css' %}">


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '321953505124286');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=321953505124286&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
{% endblock app_base_header %}

{% block app_base %}
    {% if redirect_confirmation %}
        <script>
            fbq('track', 'CompleteRegistration');
        </script>
    {% endif %} 

    <div class="launchpad">
        <nav class="navbar navbar-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'launchpad' host 'lunchmunch' %}" class="navbar-brand">🍔 Lunch o' Munch</a>    
                    </div>
                </div>
            </div>
        </nav>

        <div class="jumbotron hero" {% if redirect_confirmation %}style="background-image: url('{% static 'lunchmunch/images/launchpad_thankyou.png' %}');"{% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md- col-sm-10 col-xs-12">
                        {% if redirect_confirmation %}
                            <h1 style="padding-top: 80px;">Woohoo {% if request.user.is_authenticated %}{{ request.user.first_name}}{% endif %}! You successfully claimed FREE lifetime access.</h1>
                            <p class="lead">We are still building, but we will be ready for you in just a couple of weeks. For now, keep an eye on your email inbox so that you will be the first to know when we launch!</p>
                        {% else %}
                            <h1>Make sure that everyone enjoys where you go to eat.</h1>
                            <p class="lead">End the arguments of where to eat. Everyone in the group answers a couple of questions and we will suggest the perfect place. Claim free lifetime access while you can.</p>
                        {% endif %}
                    </div>

                    {% if not redirect_confirmation %}
                        <form action="." method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 col-sm-12">
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f"></i> Continue On Facebook</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 col-sm-12">
                                    <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-twitter btn-block"><i class="fab fa-twitter"></i> Continue On Twitter</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-5 col-sm-12">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-block"><i class="fab fa-google"></i> Continue On Google</a>
                                </div>

                                <!--<div class="mb-2 col-lg-4 offset-lg-3 col-md-5 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 offset-xs-0">
                                    <input name="email_address" type="text" class="input-block form-control" placeholder="Email Address...">
                                </div>
                                <div class="col-lg-2 col-md-3 offset-md-0 col-sm-10 offset-sm-1 col-xs-12 offset-xs-0">
                                    <button class="btn btn-secondary btn-block">Get Started</button>
                                </div>-->
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</html>
{% endblock app_base %}

{% block app_base_scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

	{% block app_page_scripts %}{% endblock app_page_scripts %}
{% endblock %}